.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.currency-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.currency-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  white-space: nowrap;
}

.currency-item:hover {
  transform: translateY(-3px);
}

.currency-label {
  font-weight: bold;
}

.currency-rate {
  color: blue;
  font-weight: bold;
}

.last-update {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mat-form-field {
  margin-right: 10px;
  background-color: transparent;
}

button {
  margin-left: 10px;
}
